apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin-service
  namespace: itransform
spec:
  replicas: 1
  selector:
    matchLabels:
      app: admin
  template:
    metadata:
      labels:
        app: admin
    spec:
      containers:
      - name: admin
    image: asia-south1-docker.pkg.dev/akproject-486305/microservices-repo/admin-service:latest
    ports:
      - containerPort: 8086

