apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: itransform
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    containers:
    - name: frontend
    image: asia-south1-docker.pkg.dev/akproject-486305/microservices-repo/frontend:latest
    ports:
      - containerPort: 80

---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: itransform
spec:
  type: LoadBalancer
  selector:
    app: frontend
  ports:
    - port: 80
