apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: itransform
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
      - name: auth
    image: asia-south1-docker.pkg.dev/akproject-486305/microservices-repo/auth-service:latest
    ports:
      - containerPort: 8084
    env:
      - name: SPRING_DATASOURCE_URL
        value: jdbc:mysql://mysql:3306/itransform
      - name: SPRING_DATASOURCE_USERNAME
        value: root
      - name: SPRING_DATASOURCE_PASSWORD
        value: root

