apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: itransform
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
      - name: gateway
    image: asia-south1-docker.pkg.dev/akproject-486305/microservices-repo/api-gateway:latest
    ports:
      - containerPort: 8080
